
body{
    font-family:  sans-serif;
}

.fs-0{
    font-size: 3.7rem;
}

.fs-7{
    font-size: 0.8rem;
}

.rounded-4{
    border-radius: 10px;
}

.bg-gray{
    background-color: #F0F2F5;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.success-btn{
    background-color:#3ab521;
}

input.form-control{
    font-size: 1rem;
}